* {
    padding: 0;
    margin: 0;
}

header {
    background-image: url("../images/banner/banner2.pngs");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    padding: 300px 150px;
}

.header-container h1 {
    font-size: 65px;
}

.header-container p {
    font-size: 16px;
    color: #444343;
    margin: 20px 0;
}

.header-button {
    background-color: #F15B22;
    padding: 15px 25px;
    border: none;
    color: white;
    border-radius: 5px;
}

/* failures of previous section */
.failures-of-previous-section {
    padding: 50px 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.description h3 {
    font-size: 40px;
}

.description p {
    font-size: 16px;
    margin: 20px 0;
    color: #444343;
}

.description ul {
    list-style: none;
    color: #444343;
}

.description ul li {
    padding: 5px;
}

.description ul li i {
    color: aqua;
}

/* my plans section */
.my-plans-container {
    padding: 50px 150px;
}

.my-plans-container h3 {
    font-size: 40px;
    text-align: center;
}

.plans {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.plans div {
    text-align: center;
}

.plans img {
    width: 90px;
}

.plans h4 {
    font-size: 30px;
}

.plans p {
    color: #444343;
    font-size: 20px;
}

/* positive-mindset-section */
.positive-mindset-section {
    padding: 50px 150px;
}

.mindset-image {
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url("../images/watch.png");
    height: 200px;
    background-repeat: no-repeat;
    width: 1100px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
}

.mindset-image h3 {
    font-size: 40px;
    color: white;
}

.mindset-image button {
    color: #F15B22;
    background-color: white;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    display: inline-block;
    margin-top: 10px;

}

/* contact section */
.contact-container {
    padding: 50px 150px;
    text-align: center;
}

.contact-container h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.contact-container input {
    border: 2px solid black;
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
}

.contact-container textarea {
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
}

.contact-container button {
    background-color: #F15B22;
    padding: 15px 25px;
    border: none;
    color: white;
    border-radius: 5px;
}

/* footer section */
footer {
    background-color: #151414;
    color: white;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}

footer h3 {
    font-size: 45px;
}

footer h4 {
    font-size: 25px;
}

footer p {
    font-size: 16px;
    margin: 10px 0;
}

footer img {
    width: 40px;
    margin-right: 10px;
}

footer input {
    background-color: #151414;
    border: 2px solid white;
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    color: white;
}

footer button {
    color: #F15B22;
    background-color: white;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    display: inline-block;
    font-weight: 700;
}